
body {/*define la base de la pagina web, su color de fondo en este caso*/
  font-size: 16px;
  color: #fff;
  background-color: #7093DB;
}

/** HEADER **/
#header-nav {/*cambia el color de la barra del principio de la apgina a amarillo*/
	background-color: #ADEAEA;
	border-radius: 0;/*quita las esquitas redondeadas y las pone rectas*/
	border: 0;/*estira los bordes hasta completar toda la pagina*/
}
.navbar-brand h1 { /*Food, LLC*/
  color: #2F2F4F;
  font-size: 3em;
  font-weight: bold;/*hace que sea un poco mas gorda la letra*/
  text-shadow: 1px 1px 1px #222;/*Añade un sobreado a las letras*/
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
  margin-top: 0 auto;
}
#nav-list a {
  color: #00009C;
  text-align: center;
}
#nav-list a:hover {/*esto hace que cuando pasemos el raton por encima se ilumine*/
  background: #FFFFFF;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

p.meh{
	color: #000000;
	text-align: center;
	font-size: 4em;
}

.jumbotron p{
	color: #000000;
}

